@{
    ViewData["Title"] = "Home Page";
}

<h1>Bienvenido al mundo digital</h1>
    <div class="wifi"> 
        <div class="Container"> 
              <img src="img/Diseño sin título.gif" alt="logo-form">
            <form action="" method="post">
                <label for="nombre">Usuario</label>
                <input type="text">
                <label for="">Contraseña</label>
                <input type="text">
                
                <input class="envio" type="submit" alt="Enviar">
            </form>
        </div>
    </div>
        <h2>KTELECONEXION</h2>

